
        <h1>WELL COME your Profile, <%= user.firstName %></h1>
        <h4>Name : <%= user.firstName %> <%= user.lastName%></h4>
        <h4>Email :<%= user.email %></h4>
        <!-- <h1>You are inside the <%= title %></h1> -->
        
        <div id="sign-out">
                <a href="sign-out">
                <button type="button">Sign Out</button>
               </a>
             </div>